body {
    background-color: #F0EFF2;
}

.header__logo {
    margin: 60px 10% 20px 10%;
    margin-bottom: 20px;
    font-size: 1.2vw;

}

.attend__table {
    margin: 60px 10% 60px 10%;
    width: 80%;
}

th {
    background-color: #fff;
}

th:first-child {
    border-radius: 10px 0 0 0;
}

th:last-child {
    border-radius: 0 10px 0 0;
}

.table__th--text {
    width: 15%;
    font-size: 1.5vw;
    color: #848484;
    border-bottom: 5px solid #F0EFF2;
}

tr {
    background-color: #fff;
    border-bottom: 3px solid #F0EFF2;
}

.table__td--text {
    display: block;
    margin: 0 auto;
    width: 100%;
    font-size: 1.5vw;
    border: none;
    text-align: center;
    color: #848484;
    outline: none;
}

.table__link--button {
    display: flex;
    font-size: 1.5vw;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.last-row__left {
    border-radius: 0 0 0 10px;
}

.last-row__right {
    border-radius: 0 0 10px 0;
}